@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/';

root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
}

p {
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .app-container {
    @apply mx-auto px-4 sm:px-8 max-w-[1200px];
  }
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #212121 #EEEEEE;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #eeeeee;
}

*::-webkit-scrollbar-track:hover {
  background-color: #eeeeee;
}

*::-webkit-scrollbar-track:active {
  background-color: #eeeeee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #212121;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #212121;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #212121;
}
